
@font-face {
    font-family: 'Dudler';
    src: url('assets/Dudler-Regular.woff') format("woff");
}

@font-face {
    font-family: 'Khalos';
    src: url('assets/Khalos-Display.woff') format("woff");
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

select {
    appearance: none;
    top: 20px;
    /* background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit; */
  }

canvas {
    margin: auto;
}

body {
    background: black;
    overflow: hidden;
}
  
h1 {
    font-family: 'Dudler';
    font-weight: 400;
    font-size: 30px;
    color: white;
}
  
h2 {
    font-weight: 'Khalos';
    color: white;
    font-weight: 400;
}
  
h3 {
    font-family: 'Khalos';
    font-size: 18px;
    color: white;
}
  
p {
    color: white;
}
  
nav {
    display:flex;
    justify-content: space-between;
}

#world-selector-container {
    position: fixed;
}
  
.world-selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 24px;
}
  
.world-title {
    background: none;
    border: none;
    display: flex;
    gap: 12px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity 2s ease-out;
    transition: opacity .2s ease-out;
}
  
.world-title:hover {
    opacity: 0.75;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity .2s ease-in;
}
  
.active {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity .2s ease-in;
}
  
.active:hover {
    opacity: 1;
}

.world-key {
    width: 30px;
    height: 30px;
    margin-top: 22px;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 9px;
}

.world-name {
    padding-top: 16px;
}

#midiout-select {
    font-family: 'Khalos';
    background: transparent;
    color: white;
    padding: 18px;
    border-radius: 4px; 
    position:absolute;
    float: right;
    top: 24px;
    right: 24px;
}

#midiout-select option {
    color: black;
}