
@font-face {
    font-family: 'Dudler';
    src: url('assets/Dudler-Regular.woff') format("woff");
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

canvas {
    margin: auto;
}

body {
    background: black;
    /* overflow: hidden; */
}
  
h1 {
    font-family: 'Dudler';
    font-weight: 400;
    font-size: 30px;
    color: white;
}
  
h2 {
    font-weight: 'Space Grotesk';
    color: white;
    font-weight: 400;
}
  
h3 {
    font-family: 'Space Grotesk';
    font-size: 18px;
    color: white;
}
  
p {
    color: white;
}
  
nav {
    display:flex;
    justify-content: space-between;
}

#world-selector-container {
    position: fixed;
}
  
.world-selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 24px;
}
  
.world-title {
    background: none;
    border: none;
    display: flex;
    gap: 12px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity 2s ease-out;
    transition: opacity .2s ease-out;
}
  
.world-title:hover {
    opacity: 0.75;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity .2s ease-in;
}
  
.active {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity .2s ease-in;
}
  
.active:hover {
    opacity: 1;
}

.world-key {
    width: 30px;
    height: 30px;
    margin-top: 22px;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 9px;
}

.world-name {
    padding-top: 16px;
}
